.OrderControl {
  display: flex;
  align-items: center;
  color: var(--color-primary-inverted);

  .MuiOutlinedInput-root {
    line-height: 1em;
    color: var(--color-primary-inverted);
  }

  .MuiSelect-select {
    padding: 10px 32px 10px 12px;
    min-height: 0 !important;
  }

  .MuiSvgIcon-root {
    color: var(--color-primary-inverted);
  }

  .orderDirection {
    margin-left: 6px;
    cursor: pointer;

    &.-asc {
      transform: rotate(180deg);
    }
  }
}
