.layout {
  padding: 20px;
  //background: #ccc;//#11151f;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.logo {
  height: 100px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    padding: 4px 8px 4px 12px;
    display: block;
    color: var(--color-secondary);
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding-left: 24px;
  overflow: auto;
}
