.mapsList {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.row {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.container {
  width: var(--size-content);
  margin: 4px auto;
}

.item {
  cursor: pointer;
  flex: 1;

  &Showed {
    opacity: 0.5;
    background: var(--color-secondary-opposite) !important;
  }
}
