.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  // pointer-events: none;
}

.loader {
  height: 8px;
  background: var(--color-background);
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background: var(--color-primary);
    height: 100%;
    border-radius: 10px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
  }
}

.counter {
  background: var(--color-secondary-inverted);
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;

  &.isRight {
    margin-left: auto;
    margin-right: 12px;
  }

  &.isLeft {
    margin-left: 12px;
    margin-right: auto;
  }
}


@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
