.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.footerLoader {
  position: absolute;
  bottom: 0;
}

.counter {
  background: var(--color-secondary-inverted);
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;

  &.isRight {
    margin-left: auto;
    margin-right: 12px;
  }

  &.isLeft {
    margin-left: 12px;
    margin-right: auto;
  }
}
