@mixin theme() {
  --color-primary: #8B0000; /* Темно-красный */
  --color-secondary: #FFD700; /* Золотой */
  --color-background: #2F2F2F; /* Темно-коричневый/черный */
  --color-text-primary: #FFFFFF; /* Белый цвет для текста на темном фоне */
  --color-text-secondary: #000000; /* Черный цвет для текста на светлом фоне */

  /* Дополнительные переменные для границ, теней и т.д. */
  --color-border: #FFD700; /* Золотая граница */
  --color-shadow: rgba(0, 0, 0, 0.5); /* Темная тень */
}